<div id="header" flex-container="row" class="header bgc-grey-800">
    <h1 class="main-logo">
        <!-- <img src="assets/img/iSumbong_icon2.png" alt="iSumbong Logo" id="isumbong_logo"> -->
        <a ng-href-void="" class="main-nav__link" lx-ripple="white">
            <strong>iSumbong</strong>
        </a>
    </h1>
    <nav class="main-nav main-nav--lap-and-up">
        <ul>
            <li><a href="/getting-started/installation" class="main-nav__link" lx-ripple="white"></a></li>
            <li>
                <button class="btn btn--m btn--white btn--icon" lx-ripple lx-tooltip="Account" tooltip-position="bottom" >
                    <i class="icon icon--s icon--white icon--flat mdi mdi-settings"></i>
                </button>
            </li>
            <li>
                <button class="btn btn--m btn--white btn--icon" x-logout lx-ripple lx-tooltip="Logout" tooltip-position="bottom">
                    <i class="icon icon--s icon--white icon--flat mdi mdi-logout"></i>
                </button>
            </li>
        </ul>
    </nav>
</div>
